#generated-form input, select { padding:5px 15px; margin:6px 0 20px 0; border-radius: 10px;}
.qrcode-label {color:#373737; font-weight: bold; font-size:18px; -webkit-text-stroke: 0.7px white;}
#qrcode img{margin:50px auto;}


